<div class="container col-md-6 col-md-offset-3">
    <div class="card">
        <h4 class="card-header bg-dark text-white">New student
            <div class="float-right small">
                <%= link_to 'Show', [@student.course, @student], :class => "btn btn-info" %>
            </div>
        </h4>
        <div class="card-body text-centered">
            <%= render 'form' %>
        </div>
    </div>

    <br>
    <%= link_to 'Back', course_students_path(@student.course), :class => "btn btn-secondary" %>
</div>