<div class="container col-md-6 col-md-offset-3">
    <div class="card">
        <h4 class="card-header bg-dark text-white">Editing score
            <div class="float-right small">
            <%= link_to 'Show', [@score.evaluation_instances, @score, :class => "btn btn-info" %>
            </div>
        </h4>
        <div class="card-body text-centered">
            <%= render 'form' %>
        </div>
    </div>

    <br>
    <%= link_to 'Back', evaluation_instance_scores_path(@score.evaluation_instance), :class => "btn btn-secondary" %>
</div>