<h1>Editing evaluation_instance</h1>

<%= render 'form' %>

<%= link_to 'Show', [@evaluation_instance.courses, @evaluation_instance] %> |
<%= link_to 'Back', courses_evaluation_instances_path(@evaluation_instance.courses) %>
