<div class="container col-md-6 col-md-offset-3">
    <div class="card">
    <h4 class="card-header bg-dark text-white">Editing evaluation instance
        <div class="float-right small">
            <%= link_to 'Show', [@evaluation_instance.course, @evaluation_instance], :class => "btn btn-info" %>
        </div>
    </h4>
    <div class="card-body">
        <%= render 'form' %>
    </div>
    </div>

    <br>
    <%= link_to 'Back', course_evaluation_instances_path(@evaluation_instance.course), :class => "btn btn-secondary" %>
</div>