<div class="container col-md-6 col-md-offset-3">
    <div class="card">
    <h4 class="card-header bg-dark text-white">Editing Course
    </h4>
    <div class="card-body">
        <%= render 'form', course: @course %>
    </div>
    </div>

    <br>
    <%= link_to 'Back', courses_path, :class => "btn btn-secondary" %>
</div>