<div class="container col-md-6 col-md-offset-3">
    <div class="card">
        <h4 class="card-header bg-dark text-white">Showing Course
            <div class="float-right small">
                <%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-info" %>
            </div>
        </h4>
        <div class="card-body text-centered">
            Here you can see everything about the course <%= @course.year %>
        </div>
    </div>

    <br>
    <%= link_to 'Back', courses_path, :class => "btn btn-secondary" %>
</div>