<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<footer class="footer" style="background-color: #424242">
    <div class="container">
        <span style="color: #FAFAFA";> TTPS Ruby - Trabajo Práctico Integrador.</span>
        <div style="float: right">
            <a href="https://github.com/FrancoLiptak/courses"> Código fuente en Github
                <i class="fa fa-2x fa-fw fa-github text-white"></i>
            </a>
        </div>
    </div>
</footer>